.footer {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background-color: #d8bd42;
    color: black;
    font-family: iFood RC Textos, helvetica, sans-serif;
  }
  
  .address,
  .contact,
  .social {
    flex: 1;
    text-align: center;
  }
  
  .social a {
    display: block;
    color: black;
    text-decoration: none;
    margin: 0.5rem 0;
  }