.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
    background-color: #d8bd42;
    color: white;
    font-family: iFood RC Textos, helvetica, sans-serif;
  }
  
  .logo {
    height: 120px;
  }
  
  .navLink {
    margin: 0 1rem;
    color: rgb(27, 27, 27);
    text-decoration: none;
  }
  
  .orderButton {
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }