.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    font-family: iFood RC Textos, helvetica, sans-serif;
  }
  
  .productImage {
    width: 50%;
    height: auto;
    border-radius: 8px;
  }
  
  .productName {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
  
  .productDescription {
    font-size: 0.9rem;
    color: #555;
  }
  
  .productPrice {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
  }
  
  .orderButton {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-top: 0.5rem;
    border-radius: 8px;
  }